<<<<<<< HEAD
.scroll {
    animation: scrollDown 0.6s ease-in 0s infinite;
    position: relative;
    font-size: 24px; /* Adjust size as needed */
  }
  
  @keyframes scrollDown {
    0% {
      top: -5;
      opacity: 0.3;
    }
    50% {
      top: 15px;
      opacity: 0.6;
    }
    100% {
      top: 40px;
      opacity: 1;
    }
  }
=======
.scroll {
    animation: scrollDown 0.6s ease-in 0s infinite;
    position: relative;
    font-size: 24px; /* Adjust size as needed */
  }
  
  @keyframes scrollDown {
    0% {
      top: -5;
      opacity: 0.3;
    }
    50% {
      top: 15px;
      opacity: 0.6;
    }
    100% {
      top: 40px;
      opacity: 1;
    }
  }
>>>>>>> e3d1264 (Your commit message)
  