/* Custom styles or transitions (optional) */
.NCAI{
  color: #2986ff;
    font-size: 2.9rem;
    line-height: 1.2;
    font-weight: 400;
    /* border-bottom: 2px solid #042d9e ;
    border-width: 50%; */
}
.NCAI p{
  color: #ccebf9;
    font-weight: 600;

}
.NCAI hr{
  background-color:rgb(34 249 251);
}
.SML{
  color:rgb(244 132 7);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 12px;
}
.btn{
  background-color: rgb(1 9 22);
  border: 2px solid #ccebf9; ;
  color: #ccebf9;
}
.mt-4 {
    margin-top: 1rem;
  }
  
  .transition-opacity {
    transition: opacity 0.5s ease-in-out;
  }
  
  .opacity-100 {
    opacity: 1;
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  @media (max-width:300px) {
    .NCAI, hr{
    display: none;
    

  }
  .SML{
    font-size: 2.5rem;
    font-weight: 600;
  letter-spacing: 0px;
  }
  }
  .bgImg {
    position: relative; /* Ensure the parent container is relative */
    width: 100%;
    height: auto;
}

.bgImg img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

  @media (max-width:750px) {
    .bgImg img {
      width: 100%;
      height: auto;
      object-fit: cover; /* Ensures the image covers the container */
      position: absolute;
    
      z-index: -10;
  }
  
    .main{
      background-color: rgba(0, 0, 0, 0.438);
    }
    .main >div{
      margin: auto 18px;
    }
    .NCAI{
        font-size: 1rem;
      

    }
    .NCAI p{
      color: #00fff5;
        font-weight: 600;
        font-size: 1.2rem;
    
    }
    .SML{
      font-size: 1rem;
      margin-top: ;
    }
  }
  @media (min-width:751px) and (max-width:781px) {

    .main >div{
      margin: auto 18px;
      padding-top: 3rem;
    }
    .NCAI{
        font-size: 2.4rem;
      

    }
    .NCAI p{
      color: #00fff5;
        font-weight: 600;
        font-size: 2.6rem;
    
    }
    .SML{
      font-size: 2.3rem;
      margin-top: ;
    }
  }
  @media (max-width:1024px) {
    .main{
      background-color: rgba(0, 0, 0, 0.438);
    }
    
  }