
.ImgMap{
    background-color: #E0E0E0;
}
/* 
#333333 darkgrey tick
Light Gray: #E0E0E0

*/
.form{
    background-color:#02152f ;
}
@media (max-width:660px) {
    .contactPg{

        margin-bottom: 30rem;
    }
}

@media (min-width:661px) and (max-width:1024px) {
    .contactPg{

        margin-bottom: 20rem;
    }
}