.heading-section {
  padding: 20px 0;
  text-align: left;
}

.heading {
  font-size: 2.5rem;
  color: rgb(0, 1, 65);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subheading {
  font-size: 1rem;
  color: rgb(182, 182, 182);
  opacity: 0.9;
}


