/* 
.Slider{
background-color: #f0f4f8 ;
}

.Slider h1{
    color: #1F3865 ; 
   
} 
 color palette
{
    color:  81957A; PISTA
color:  #2C2C2C; BLACK
 color: #1F3865; BLUE
 color: #0080A7; SKY BLUE TYPE
 color: #F5BD60; YELLOW
 color: #FE755E; ORANGE
} */